.student-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.student-info {
  display: flex;
  flex-direction: column;
}

.student-badge {
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .student-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .student-badge {
    margin-top: 8px;
  }
}
