<div class="list-header-parent" bmbLayout alignItems="center" justify="spaceBetween" margin="s">
  <h3 class="font-light-7" bmbLayoutItem>Retroalimentación</h3>

  <div class="list-header"
       bmbLayoutItem
       *ngIf="evidences.evidences.length > 0">
    <button (click)="toggleCollapse()" class="toggle-button font-medium-7" bmbLayout alignItems="center" margin="s" >
      <span [hidden]="!isCollapsed" bmbLayoutItem>
        <bmb-icon [icon]="'keyboard_arrow_down'" [size]="15"></bmb-icon>
      </span>
      <span [hidden]="isCollapsed" bmbLayoutItem>
        <bmb-icon [icon]="'keyboard_arrow_up'" [size]="15"></bmb-icon>
      </span>
      <span class="font-semibold-3" bmbLayoutItem>{{ isCollapsed ? 'Expandir todas' : 'Colapsar' }}</span>
    </button>
  </div>
</div>

<div [hidden]="!isCollapsed">
  <!-- Mostrar solo la primera tarjeta -->
  <bmb-card
    *ngIf="evidences.evidences.length > 0"
    [margin]="'s'"
    [type]="'normal'">
    <bmb-card-content padding="none">
      <h3 class="bmb_card-header bmb_padding-s" bmbLayout margin="none" alignItems="center" justify="spaceBetween">
        <bmb-text-link
          [textLink]="evidences.evidences[0].name"
          [textLinkStyle]="'icon'"
          [target]="'_blank'"
          [icon]="'open_in_new'"
          [iconPosition]="'left'"
          [link]="'https://www.youtube.com'"
          [disabled]="false"
          bmbLayoutItem
        ></bmb-text-link>
        <span>Calificación: {{ evidences.evidences[0].grade }}</span>
      </h3>
      <p class="bmb_margin-m">
        {{ evidences.evidences[0].feedback }}
      </p>
    </bmb-card-content>
    <bmb-card-footer padding="xs">
      <a
        bmbButton
        [appearance]="evidences.evidences[0].fileType === 'audio' ? 'primary' : 'secondary-filled'"
        [attr.href]="evidences.evidences[0].fileType === 'audio' ? evidences.evidences[0].previewUrl : null"
        [attr.target]="evidences.evidences[0].fileType === 'audio' ? '_blank' : null"
        icon="mic"
        size="small"
        position="left"
        class="bmb_margin-s"
      >
      </a>
      <a
        bmbButton
        [appearance]="evidences.evidences[0].fileType === 'video' ? 'primary' : 'secondary-filled'"
        [attr.href]="evidences.evidences[0].fileType === 'video' ? evidences.evidences[0].previewUrl : null"
        [attr.target]="evidences.evidences[0].fileType === 'video' ? '_blank' : null"
        icon="video_call"
        size="small"
        position="left"
        class="bmb_margin-s"
      >
      </a>
      <a
        bmbButton
        [appearance]="evidences.evidences[0].fileType === 'other' ? 'primary' : 'secondary-filled'"
        [attr.href]="evidences.evidences[0].fileType === 'other' ? evidences.evidences[0].previewUrl : null"
        [attr.target]="evidences.evidences[0].fileType === 'other' ? '_blank' : null"
        icon="attach_file"
        size="small"
        position="left"
        class="bmb_margin-s"
      >
      </a>
    </bmb-card-footer>
  </bmb-card>
</div>

<div [hidden]="isCollapsed">
  <bmb-card
    *ngFor="let evidence of evidences.evidences; trackBy: trackByFn"
    [margin]="'s'"
    [type]="'normal'">
    <bmb-card-content padding="none">
      <h3 class="bmb_card-header bmb_padding-s" bmbLayout margin="none" alignItems="center" justify="spaceBetween">
        <bmb-text-link
          [textLink]="evidence.name"
          [textLinkStyle]="'icon'"
          [target]="'_blank'"
          [icon]="'open_in_new'"
          [iconPosition]="'left'"
          [link]="evidence.speedGraderLink"
          [disabled]="false"
          bmbLayoutItem
        ></bmb-text-link>
        <span>Calificación: {{ evidence.grade }}</span>
      </h3>
      <p class="bmb_margin-m">
        {{ evidence.feedback }}
      </p>
    </bmb-card-content>
    <bmb-card-footer padding="xs">
      <ng-container *ngFor="let type of fileTypes">
        <a
          bmbButton
          [appearance]="evidence.fileType === type ? 'primary' : 'secondary-filled'"
          [attr.href]="evidence.fileType === type ? evidence.previewUrl : null"
          [attr.target]="evidence.fileType === type ? '_blank' : null"
          [icon]="type === 'audio' ? 'mic' : type === 'video' ? 'video_call' : 'attach_file'"
          size="small"
          position="left"
          class="bmb_margin-s"
        ></a>
      </ng-container>
    </bmb-card-footer>
  </bmb-card>
  <div class="list-header-parent" bmbLayout alignItems="center" justify="spaceBetween" margin="s">
    <h3 bmbLayoutItem></h3>
    <div class="list-header" bmbLayoutItem>
      <button (click)="toggleCollapse()" class="toggle-button font-medium-7" bmbLayout alignItems="center" margin="s">
        <span [hidden]="!isCollapsed" bmbLayoutItem>
          <bmb-icon [icon]="'keyboard_arrow_down'" [size]="15"></bmb-icon>
        </span>
        <span [hidden]="isCollapsed" bmbLayoutItem>
          <bmb-icon [icon]="'keyboard_arrow_up'" [size]="15"></bmb-icon>
        </span>
        <span class="font-semibold-3" bmbLayoutItem>{{ isCollapsed ? 'Expandir todas' : 'Colapsar' }}</span>
      </button>
    </div>
  </div>
</div>
