<h3 class="font-light-7">Retroalimentación</h3>

<bmb-card
  *ngFor="let evidence of evidences"
  [borderRadius]="'none'"
  [margin]="'s'"
  [type]="'normal'">
  <bmb-card-content padding="none">
    <h3  class="bmb_card-header bmb_padding-s">
      <bmb-text-link
        [textLink]="evidence.name"
        [textLinkStyle]="'icon'"
        [target]="'_blank'"
        [icon]="'open_in_new'"
        [iconPosition]="'left'"
        [link]="'https://www.youtube.com'"
        [disabled]="false"
      ></bmb-text-link>
      <span>| Calificación: {{ evidence.grade }}</span>
    </h3>
    <p class="bmb_margin-m">
      {{ evidence.feedback }}
    </p>
  </bmb-card-content>
  <bmb-card-footer padding="xs">
    <button
      bmbButton
      [appearance]="evidence.fileType === 'audio' ? 'primary' : 'secondary-filled'"
      icon="mic"
      size="small"
      position="left"
      class="bmb_margin-s"
    >
    </button>
    <button
      bmbButton
      [appearance]="evidence.fileType === 'video' ? 'primary' : 'secondary-filled'"
      icon="video_call"
      size="small"
      position="left"
      class="bmb_margin-s"
    >
    </button>
    <button
      bmbButton
      [appearance]="evidence.fileType === 'other' ? 'primary' : 'secondary-filled'"
      icon="attach_file"
      size="small"
      position="left"
      class="bmb_margin-s"
    >
    </button>
  </bmb-card-footer>
</bmb-card>
