bmb-card-header h3 {
  display: flex;
  align-items: center;
}

bmb-icon {
  margin-right: 8px; /* Ajusta este valor para espacio entre el icono y el texto */
}

.display-flex-space-between {
  display: flex; /* Activa flexbox */
  justify-content: space-between; /* Separa los elementos en extremos opuestos */
  align-items: center; /* Alinea los elementos verticalmente */
}
.display-flex-space-between h3 {
  flex: 1; /* Permite que el enlace ocupe todo el espacio disponible a la izquierda */
  margin-left: 20px;
}

.display-flex-space-between bmb-checkbox {
  flex-shrink: 0; /* Evita que la calificación sea comprimida */
  margin-left: 16px; /* Añade un margen entre el enlace y la calificación */
}


.card-container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap onto multiple lines on smaller screens */
  justify-content: space-around; /* Distributes space evenly between cards */
}

.bmb-card {
  flex: 1 0 23%; /* Each card takes 23% of the available width, with a minimum of 23% */
  margin: 10px; /* Adds some margin around each card */
  box-sizing: border-box; /* Ensures margin is included in the element's total width */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .bmb-card {
    flex: 1 0 48%; /* Each card takes 48% of the available width on medium screens */
  }
}

@media (max-width: 500px) {
  .bmb-card {
    flex: 1 0 100%; /* Each card takes 100% of the available width on small screens */
  }
}

.footer-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  padding: 20px;
}

.footer-container > * {  /* Applies to direct children of .footer-container */
  width: 100%; /* Makes elements span the full width */
  box-sizing: border-box; /* Includes padding and border in element's total width */
}


.bmb-input {
  margin-bottom: 20px; /* Adds space between input and buttons */
}

.button-row {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  padding-top: 20px;
  padding-right: 20px;
}

.button-row button {
  margin-right: 10px; /* Add space between buttons */
}
